html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
body {
    background-image: url('aw.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2em;
}


body {
    font-family: 'Satoshi', sans-serif;
}
  
body {
  overflow-y: auto;
}

#mobile-menu {
  position: absolute; /* Position it above other content */
  top: 50px; /* Adjust this value if you want it to appear lower or higher */
  left: 0;
  width: 100%;
  z-index: 9999; /* Ensure it's above other content */
}
